body {
    font-family: "roboto", sans-serif;
    background-color: #1c1f24;
    color: white;
}

h1 {
	font-size: 22pt;
	font-family: "oswald", sans-serif;
	color: #cca300;
	text-align: right;
	line-height: 0.8;
	font-style: oblique;
}
h2 {
	font-size: 13pt;
	font-family: "oswald", sans-serif;
	color: #cca300;
	text-align: right;
	line-height: 0.5;
	font-style: oblique;
}

#check_rating{
	margin-bottom:10px;
}

.topic {
	text-align: left;

}
.check{
	margin-left:20px;
}
#legend{
	margin-top: 5px;
	font-size: 8pt;
	position: absolute;
	bottom: 15px;
}

.selection{
	z-index:2;
	text-align: center;
	border: 2px solid lightgrey;
	border-radius: 5px;
	font-size: 10pt;
	padding: 5px;
	margin-top: 8px;
	font-family: "roboto thin", sans-serif;
}

#select_series{
	margin-left: 520px;
	width: 150px;

	height: 278px;
}

#select_actors{
	width: 150px;
	height: 278px;
	text-align: left;
	left: 10px;
	float:left;
	margin-left: 10px;
}

#select_network{
	text-align: center;
	position: absolute;
	right: 8px;
	font-family: "roboto thin", sans-serif;
	display: none;
	z-index: 3;
	background-color: rgb(28, 31, 36, .6);
}
#bubble_network{
	border-bottom: 2px solid lightgrey;
	margin-bottom: 3px
}

#select_city{
	height: 80px;
	text-align: center;
	position: absolute;
    bottom: 8px;
    left: 8px;
	z-index: 3;
	background-color: rgb(28, 31, 36, .6);
	display: none;
	font-family: "roboto thin", sans-serif;
	padding-bottom: 9px;
}

#geo_city{
	border-bottom: 2px solid lightgrey;
	margin-bottom: 3px;
}
.extra_info{
	text-align:left;
	margin-left: 2px;
	font-family: "roboto thin", sans-serif;
}
.initial_info{
	text-align: right;
	font-family: "roboto thin", sans-serif;
	margin-left: 8px;
}

.date_form{
	margin-bottom: 10px;
	font-family: 'oswald', sans-serif;
	width: 100px;
	margin-left: 20px;
}

.section_title{
	font-family: "oswald", sans-serif;
	text-align: center;
	margin-top: 10px;
	float: left;
	margin-left: 200px;
}



.bc_sel {
    font-size: 10pt;
    display: flex;
    width: 500;
    align-items: center;
    text-align:left;
    position: relative;
    z-index: 3;
}

.hm_sel {
    font-size: 10pt;
    display: flex;
    width: 500;
    align-items: center;
	text-align: left;
}



.bar_rating {
    fill: #f3ce13; /* IMDb logo color */
    opacity: 0.9;
}



.axis path,
.axis line {
    fill: none;
}

.specialaxis {
    fill: none;
    display: none;
}

.label {
    font-family: "oswald", sans-serif;
    font-size: 13px;
}

.tooltip {
    font-family: "oswald black", sans-serif;
}


#title {
	position: fixed;
    top: 7px;
    right: 110px;
	z-index: 3;
	text-shadow: 2px 2px 4px #000000;
	visibility: hidden;
}
#statue{
	position: fixed;
    top: 10px;
    right: 10px;
	width: 120px;
	z-index: 3;
}


.axis line {
    fill: none;
}



.hm_stuff {
    stroke: #E6E6E6;
}

.bubble, .node, .serie {
    font-family: "roboto", sans-serif;
}

.helper {
    display: none;
}

.LT {
	height: 308px;
    width: 693px;
    position: fixed;
    z-index: 1;
    top: 5px;
	left: 5px;
    overflow-x: hidden;
	padding-left: 10px;
	border-left:2px dotted grey;
	border-right:2px dotted grey;
	border-top:2px dotted grey;
}
.RT {
	height: 308px;
    width: 638px;
    position: fixed;
    z-index: 1;
    top: 5px;
    overflow-x: hidden;
    left: 713px;
	padding-left: 10px;
	border-right:2px dotted grey;
	border-top:2px dotted grey;
}
.LB {
	height: 308px;
    width: 394px;
    position: fixed;
    z-index: 1;
    top: 315px;
	left: 5px;
    overflow-x: hidden;
	padding-left: 10px;
	border: 2px dotted grey;
}
.RB {
	height: 308px;
    width: 950px;
    position: fixed;
    z-index: 1;
    top: 315px;
    overflow-x: hidden;
    left: 411px;
	border-bottom:2px dotted grey;
	border-right:2px dotted grey;
	border-top:2px dotted grey;
}


#barchart {
    width: 700;
    height: 400;
	float: left;
}
#barchart path {
    fill-opacity: 1;
    stroke: #111;
    z-index: 4;
}
.axis {
    font-size: 10pt;
    font-family: "roboto thin", sans-serif;
    font-weight: bold;
    text-align: right;
}


#heatmap{
	margin-left:180px;
}
.hm_axis {
    fill: #ffffff;
    font-family: "roboto thin", sans-serif;
    font-size: 10pt;
	font-weight: bold;
	text-align:left;
}
.a_wins{
	font-size: 10pt;
}
.a_noms{
	font-size: 10pt;
}
.a_noms path{
	visibility: hidden;
}
#heatmap path {
    fill-opacity: 1;
    stroke: #111;
    z-index: 4;
	stroke-width: 2px;
}
#heatmap .axis path{
	visibility: hidden;
}
.heatmap_subtitles{
	font-family: "oswald", sans-serif;
	font-size:10pt;
	text-align: left;
	margin-left: 317px;
	z-index: 4;
	margin-top: -20px;
}


#mind {
	margin-left:30px;
}
#bubble_title{
	float:left;
	z-index:3;
	margin-left: 160px;
}


#geomap{
	margin-top: 40px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-right: 10px;
	height: 260px;

}
#geomap path {
    fill: #ffffff;
    fill-opacity: 0.8;
    stroke: #111;
    z-index: 4;
}
#geomap path.active {
    fill: blue;
}
